@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Pacifico');

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article{
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
body {
	background-color: #CEDFD9
}
h1{
	color: #5F5449;
	font-family: "Pacifico";
	font-size: 56px;

}

p {
	font-size: 20px;
	font-family: "Droid-Serif";
	line-height: 1.5em

}

ul{
	font-size: 20px;
	font-family: "Droid-Serif";
	line-height: 1.5em
}


#slogan {
	font-style: italic;
}